GIMP/2.10
KDE
Kvantum
Logseq
Nextcloud
Qlipper
RMG
UMS
Unknown Organization
autostart
beets
cef_user_data/WidevineCdm
chromium
cmus
configstore
btop
alacritty
bemenu
darktable
dconf
deluge
dmenu
dwm-6.4
dwmblocks
enchant
evolution/sources
fcitx/dbus
fcitx5
filezilla
fontconfig/conf.d
gcolor3
goldendict
gtk-2.0
gtk-3.0
htop
hypr
ibus/bus
kde.org
kdeconnect
kdedefaults
khtml
lazygit
libaccounts-glib
libfm
kitty
libreoffice/4
lximage-qt
lxqt
menus
mozc
nekoray/config
neofetch
networkmanager-dmenu
onedrive
onedrive-gui
onedrive_tray
openrazer
pcmanfm/default
pcmanfm-qt/default
pulse
qBittorrent
qps
qt5ct
qt6ct
qtile
qutebrowser
ranger
retroarch
rncbc.org
session
slock
slstatus-1.0
st-0.9
systemd/user
transmission
ueberzugpp
unity3d/Sega/SEGA Mega Drive Classics
vlc
wyebadlock
xsettingsd
.gsd-keyboard.settings-ported
Kvantum Managerrc
PlasmaDiscoverUpdates
QtProject.conf
Trolltech.conf
akregatorrc
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
device_automounter_kcmrc
discoverrc
dolphinrc
dragonplayerrc
drkonqirc
elisarc
emaildefaults
filetypesrc
gtkrc
gtkrc-2.0
gwenviewrc
jukrc
kactivitymanagerd-pluginsrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kactivitymanagerdrc
kalgebrarc
kalziumrc
kastsrc
katemetainfos
katerc
kateschemarc
katevirc
kbruchrc
kcachegrindrc
kcharselectrc
kcmfonts
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kfontinstuirc
kfontviewrc
kgetrc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kinfocenterrc
kiorc
kioslaverc
kmail2rc
kmenueditrc
kmixrc
kolourpaintrc
konq_history
konquerorrc
konsolerc
konsolesshconfig
kplymouththemeinstallerrc
kprivacyrc
krfbrc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ktimezonedrc
ktorrent_infowidgetrc
ktorrentrc
kuiviewerrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libinput-gestures.conf
mimeapps.list
networkmanagement.notifyrc
okularpartrc
okularrc
partitionmanagerrc
pavucontrol.ini
picom.conf
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasma_workspace.notifyrc
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
sddmthemeinstallerrc
spectaclerc
starship.toml
sweeperrc
systemmonitorrc
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
vlcrc
webengineurlinterceptoradblockrc
nvim/lazy-lock.json
