* {
	font-family: "FiraSans";
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(39, 46, 51, 0.3);
}

button {
    border-radius: 0;
    border-color: #7fbbb3;
	text-decoration-color: #a7c080;
    color: #d3c6aa;
    	font-size: 20px;
	background-color: rgba(39, 46, 51, 0.7);
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	color: #272e33;
	background-color: rgba(127, 187, 179, 0.8);
	outline-style: none;
}

#lock {
    background-image: image(url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfsm-lock.svg"), url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfsm-lock.svg"));
}

#logout {
    background-image: image(url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfsm-logout.svg"), url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfsm-logout.svg"));
}

#suspend {
    background-image: image(url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfpm-suspend.svg"), url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfpm-suspend.svg"));
}

#hibernate {
    background-image: image(url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfsm-hibernate.svg"), url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfsm-hibernate.svg"));
}

#shutdown {
    background-image: image(url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfsm-shutdown.svg"), url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfsm-shutdown.svg"));
}

#reboot {
    background-image: image(url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfsm-reboot.svg"), url("/home/tom/.icons/Papirus-Dark/128x128/apps/xfsm-reboot.svg"));
}
