* {
	font-family: "FiraSans";
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(39, 46, 51, 0.3);
}

button {
    border-radius: 0;
    border-color: #7fbbb3;
	text-decoration-color: #a7c080;
    color: #d3c6aa;
    	font-size: 20px;
	background-color: rgba(39, 46, 51, 0.7);
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	color: #272e33;
	background-color: rgba(127, 187, 179, 0.8);
	outline-style: none;
}

#lock {
    background-image: image(url("/home/tom/.local/share/icons/GNUstep/apps/48/preferences-desktop-cryptography.png"), url("/home/tom/.local/share/icons/GNUstep/apps/48/preferences-desktop-cryptography.png"));
}

#logout {
    background-image: image(url("/home/tom/.local/share/icons/GNUstep/apps/48/preferences-system-login.png"), url("/home/tom/.local/share/icons/GNUstep/apps/48/preferences-system-login.png"));
}

#suspend {
    background-image: image(url("/home/tom/.local/share/icons/GNUstep/apps/48/preferences-system-time.png"), url("/home/tom/.local/share/icons/GNUstep/apps/48/preferences-system-time.png"));
}

#hibernate {
    background-image: image(url("/home/tom/.local/share/icons/GNUstep/actions/48/application-exit-symbolic.png"), url("/home/tom/.local/share/icons/GNUstep/actions/48/application-exit-symbolic.png"));
}

#shutdown {
    background-image: image(url("/home/tom/.local/share/icons/GNUstep/devices/48/computer-laptop.png"), url("/home/tom/.local/share/icons/GNUstep/devices/48/computer-laptop.png"));
}

#reboot {
    background-image: image(url("/home/tom/.local/share/icons/GNUstep/actions/48/system-reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
